.Afric {
    width: 100%;
    
}
.TopAf {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid whitesmoke;
    background-color: #fff;
}
.AfText {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}
.but1 {
    border: solid #FF9000;
    background-color: #fff;
    border-width: 2px;
    width: 130px;
    height: 25px;
    text-align: center;
}
.africa {
    margin-left: 150px
}